<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tomáš Zemanovič"> $if(metaKeywords)$ $metaKeywords$ $endif$
    <link rel="shortcut icon" href="/favicon.ico">

    <title>tzemanovic :: $title$</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body role="document">
    <div class="navigation" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/index.html"><img src="/images/logo.png" alt="maseek" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li $if(active-blog)$ class="active" $endif$><a href="/index.html">blog</a></li>
                    <li $if(active-projects)$ class="active" $endif$><a href="/projects">projects</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" role="main">
        $body$

        <div class="footer">
            <div class="social-links">
                <a class="social" href="mailto:&#116;&#122;&#101;&#109;&#97;&#110;&#111;&#118;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank">
                <span class="symbol"><span class="zoom fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span></span>
            </a>
                <a class="social" href="https://twitter.com/tzemanovic" target="_blank"><span class="symbol">
                    <span class="symbol"><span class="zoom fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span></span>
            </span></a>
                <a class="social" href="https://github.com/tzemanovic" target="_blank"><span class="symbol">
                    <span class="symbol"><span class="zoom fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span></span>
            </span></a>
                <a class="social" href="/feed.xml" target="_blank"><span class="symbol">
                    <span class="symbol"><span class="zoom fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                    </span></span>
            </span></a>
                <a class="social" href="https://au.linkedin.com/in/tomáš-zemanovič-19680740" target="_blank"><span class="symbol">
                    <span class="symbol"><span class="zoom fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span></span>
            </span></a>

            </div>
            <div class="about">
                <p>Tomáš Zemanovič<br/>Glasgow</p>
                <p>made with <a href="http://jaspervdj.be/hakyll/" target="_blank">Hakyll</a></p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <!-- bashe, c++, haskell -->
    <script src="/js/maseek.min.js"></script>
</body>

</html>
